body {
  font-family: sans-serif;
  padding: 0 20px;
}

.App {
  margin: 20px auto;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 80%;
  background-color: rgb(215, 214, 248);
}